[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "drawProteins"]
	path = drawProteins
	url = https://github.com/brennanpincardiff/drawproteins
	shallow = true
	registered = true
